@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.card {
  @apply rounded-2xl border border-slate-200 bg-white shadow-sm;
}
